<h3><i class="fas fa-book-reader"></i> Google Drive Login </h3>
<div class="section">
    <p class="lead">Update yourself with google Drive</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
<div class="divider"></div>&nbsp;&nbsp;
<h3><i class="fas fa-user-graduate"></i> Office.Com Login </h3>
<div class="section">
    <p class="lead">Update yourself with office.com</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn primary darken-1">
        <i class="fab fa-microsoft left"></i> Log In With Microsoft
    </a>
</div>